<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ERROR</title>
</head>
<body>

<div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <h1>Error:
        <span th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</span>
    </h1>
    <p>Code: <span th:text="${errorCode}"></span></p>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="/" th:href="@{/}">Back to Home Page</a>
</div>


<div class="alert alert-danger" th:if="${message}">
    <span th:text="${message}">...</span>
</div>

<div class="row error-block" th:if="${errorCode}">
    <div class="col-12">
        <h4>Error Code</h4>
        <div class="alert alert-info">
            <p th:text="${errorCode}">...</p>
        </div>
    </div>
</div>

<div class="row error-block" th:if="${url}">
    <div class="col-12">
        <h4>Url:</h4>
        <div class="alert alert-info">
            <p th:text="${url}">...</p>
        </div>
    </div>
</div>


<!-- etc.. -->


</body>
</html>