<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main :: head(~{::title},~{})}">
    <title>Home Page</title>
</head>
<body>
<th:block th:replace="~{layout/navbar :: navbar('index')}"></th:block>

<div class="container">
    <div class="page">
        <h1>Home page</h1>

        <h3>Books:</h3>
        <ul>
            <li><a th:href="@{book}">get all books</a></li>
            <li><a th:href="@{book/1}">get book id 1</a></li>
        </ul>
    </div>
</div>

<div th:insert="~{layout/main :: footer}">...</div>
</body>
</html>